<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid text-center">
  <h1>
    Apache Velcity Language (VTL) Formatter
  </h1>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="input"><h3>Paste your VTL text here</h3></label>
      <textarea [(ngModel)]="text" class="form-control" id="input" rows="35" cols="20"></textarea>
    </div>
    <div class="form-group col-md-6">
      <label for="output"><h3>Formatted text</h3></label>
      <textarea value="{{formattedText}}" class="form-control" id="output" rows="35" cols="20"></textarea>
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary btn-lg" (click)="format()">Format</button>
  </div>
</div>

